#FPGA_GCLK
NET "CLK" LOC = "N8" | IOSTANDARD = LVCMOS33;#FPGA-GCLKÆµÂÊ8MHz

#CLK_LFC
#NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;FPGA-LFCÆµÂÊ1Hz

#BTNs
#NET "BTN_0" LOC = "P8" | IOSTANDARD = LVCMOS33;
#NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;

#LEDs
#NET "LED_0" LOC = "N3" | IOSTANDARD = LVCMOS33;
#NET "LED_1" LOC = "P3" | IOSTANDARD = LVCMOS33;
#NET "LED_2" LOC = "N4" | IOSTANDARD = LVCMOS33;
#NET "LED_3" LOC = "P4" | IOSTANDARD = LVCMOS33;

#DEPP Signals
NET "pwait" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
NET "pwr" LOC = "A7" | IOSTANDARD = LVCMOS33;
NET "pdb<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "pdb<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "pdb<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "pdb<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "pdb<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "pdb<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
NET "pdb<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "pdb<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs
NET "DIN<0>" LOC = "F13" | IOSTANDARD = LVCMOS33;#16
NET "DIN<1>" LOC = "G14" | IOSTANDARD = LVCMOS33;#17
NET "DIN<2>" LOC = "D2" | IOSTANDARD = LVCMOS33;#32
NET "DIN<3>" LOC = "G13" | IOSTANDARD = LVCMOS33;#18
NET "DIN<4>" LOC = "D1" | IOSTANDARD = LVCMOS33;#31
NET "DIN<5>" LOC = "E14" | IOSTANDARD = LVCMOS33;#19
NET "DIN<6>" LOC = "C1" | IOSTANDARD = LVCMOS33;#30
NET "DIN<7>" LOC = "E13" | IOSTANDARD = LVCMOS33;#20
NET "DIN<8>" LOC = "B1" | IOSTANDARD = LVCMOS33;#29
NET "DIN<9>" LOC = "D14" | IOSTANDARD = LVCMOS33;#21
NET "DIN<10>" LOC = "A2" | IOSTANDARD = LVCMOS33;#28
NET "DIN<11>" LOC = "D13" | IOSTANDARD = LVCMOS33;#22
NET "DIN<12>" LOC = "B3" | IOSTANDARD = LVCMOS33;#27
NET "DIN<13>" LOC = "C13" | IOSTANDARD = LVCMOS33;#23
NET "otr" LOC = "F14" | IOSTANDARD = LVCMOS33;#23
NET "ADCLK" LOC = "A3" | IOSTANDARD = LVCMOS33;#23



NET "gpo_dout<7>" LOC = "K13" | IOSTANDARD = LVCMOS33;#10
NET "gpo_dout<6>" LOC = "G1" | IOSTANDARD = LVCMOS33;#39
NET "gpo_dout<5>" LOC = "J14" | IOSTANDARD = LVCMOS33;#11
NET "gpo_dout<4>" LOC = "H2" | IOSTANDARD = LVCMOS33;#38
NET "gpo_dout<3>" LOC = "J13" | IOSTANDARD = LVCMOS33;#12
NET "gpo_dout<2>" LOC = "H1" | IOSTANDARD = LVCMOS33;#37
NET "gpo_dout<1>" LOC = "H14" | IOSTANDARD = LVCMOS33;#13
NET "gpo_dout<0>" LOC = "H13" | IOSTANDARD = LVCMOS33;#14
NET "clk0" LOC = "K14" | IOSTANDARD = LVCMOS33;#40
NET "clk1" LOC = "G2" | IOSTANDARD = LVCMOS33;#9
