#FPGA_GCLK
NET "CLK" LOC = "N8" | IOSTANDARD = LVCMOS33;#FPGA-GCLK频率8MHz

#LEDs
NET "LED<0>" LOC = "N3" | IOSTANDARD = LVCMOS33;#
NET "LED<1>" LOC = "P3" | IOSTANDARD = LVCMOS33;#
NET "LED<2>" LOC = "N4" | IOSTANDARD = LVCMOS33;#
NET "LED<3>" LOC = "P4" | IOSTANDARD = LVCMOS33;#

#DEPP Signals
NET "pwait" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
NET "pwr" LOC = "A7" | IOSTANDARD = LVCMOS33;
NET "pdb<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "pdb<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "pdb<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "pdb<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "pdb<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "pdb<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
NET "pdb<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "pdb<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs
#-------------------------573部分----------------------------------
#NET "gpo_dout<7>" LOC = "K13" | IOSTANDARD = LVCMOS33;#10
#NET "gpo_dout<6>" LOC = "G1" | IOSTANDARD = LVCMOS33;#39
#NET "gpo_dout<5>" LOC = "J14" | IOSTANDARD = LVCMOS33;#11
#NET "gpo_dout<4>" LOC = "H2" | IOSTANDARD = LVCMOS33;#38
#NET "gpo_dout<3>" LOC = "J13" | IOSTANDARD = LVCMOS33;#12
#NET "gpo_dout<2>" LOC = "H1" | IOSTANDARD = LVCMOS33;#37
#NET "gpo_dout<1>" LOC = "H14" | IOSTANDARD = LVCMOS33;#13
#NET "gpo_dout<0>" LOC = "H13" | IOSTANDARD = LVCMOS33;#14
#NET "clk0" LOC = "K14" | IOSTANDARD = LVCMOS33;#40
#NET "clk1" LOC = "G2" | IOSTANDARD = LVCMOS33;#9
#----------------------------------------------------------------
#NET "D<0>" LOC = "M2" | IOSTANDARD = LVCMOS33;#48
NET "RTS" LOC = "F1" | IOSTANDARD = LVCMOS33;#1
NET "TXD" LOC = "F2" | IOSTANDARD = LVCMOS33;#2从板的发送连接到pmod的接收
NET "RXD" LOC = "H1" | IOSTANDARD = LVCMOS33;#3
#NET "CTS" LOC = "H2" | IOSTANDARD = LVCMOS33;#4

#AD部分
NET "din<13>" LOC = "K14" | IOSTANDARD = LVCMOS33;#9AD的MSB
NET "din<12>" LOC = "K13" | IOSTANDARD = LVCMOS33;#10
NET "din<11>" LOC = "J14" | IOSTANDARD = LVCMOS33;#11
NET "din<10>" LOC = "J13" | IOSTANDARD = LVCMOS33;#12
NET "din<9>" LOC = "H14"  | IOSTANDARD = LVCMOS33;#13
NET "din<8>" LOC = "H13"  | IOSTANDARD = LVCMOS33;#14
NET "din<7>" LOC = "F14"  | IOSTANDARD = LVCMOS33;#15
NET "din<6>" LOC = "F13"  | IOSTANDARD = LVCMOS33;#16
NET "din<5>" LOC = "G14"  | IOSTANDARD = LVCMOS33;#17
NET "din<4>" LOC = "G13"  | IOSTANDARD = LVCMOS33;#18
NET "din<3>" LOC = "E14"  | IOSTANDARD = LVCMOS33;#19
NET "din<2>" LOC = "E13"  | IOSTANDARD = LVCMOS33;#20
NET "din<1>" LOC = "D14"  | IOSTANDARD = LVCMOS33;#21
NET "din<0>" LOC = "D13"  | IOSTANDARD = LVCMOS33;#22LSB
NET "ADCLK" LOC = "C13"   | IOSTANDARD = LVCMOS33;#23
NET "OTR" LOC = "J1"      | IOSTANDARD = LVCMOS33;#41

#DA部分
NET "DO<0>" LOC = "P5" | IOSTANDARD = LVCMOS33;
NET "DO<1>" LOC = "M2" | IOSTANDARD = LVCMOS33;
NET "DO<2>" LOC = "N5" | IOSTANDARD = LVCMOS33;
NET "DO<3>" LOC = "M1" | IOSTANDARD = LVCMOS33;
NET "DO<4>" LOC = "N6" | IOSTANDARD = LVCMOS33;
NET "DO<5>" LOC = "L2" | IOSTANDARD = LVCMOS33;
NET "DO<6>" LOC = "P7" | IOSTANDARD = LVCMOS33;
NET "DO<7>" LOC = "L1" | IOSTANDARD = LVCMOS33;
NET "DO<8>" LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "DO<9>" LOC = "K2" | IOSTANDARD = LVCMOS33;
NET "DO<10>" LOC = "N12" | IOSTANDARD = LVCMOS33;
NET "DO<11>" LOC = "K1" | IOSTANDARD = LVCMOS33;
NET "DO<12>" LOC = "L14" | IOSTANDARD = LVCMOS33;
NET "DO<13>" LOC = "J2" | IOSTANDARD = LVCMOS33;
NET "DACLK" LOC = "L13" | IOSTANDARD = LVCMOS33;
#解决出错
PIN "Inst_clk/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;